* {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background-color: #313131;
  height: 38px;
}

.contain {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.contain .head {
  list-style: none;
}

.head a {
  padding: 10px 30px 12px 0px;
  float: left;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.menu_right {
  float: right;
  margin-top: 10px;
}

.menu_right a {
  padding: 0px 30px 12px 0px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.menu_right span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.menu_right a::before {
  content: url(../img/svg/phone.svg);
  vertical-align: middle;
  padding-right: 10px;
}

.menu_right span::before {
  content: url(../img/svg/delivery-icon.svg);
  vertical-align: middle;
  padding-right: 10px;
}

.head_menu {
  list-style: none;
}

.head_menu a {
  padding: 59px 30px 51px 0px;
  float: left;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.hamburger_menu {
  display: none;
  float: left;
}

.hamburger_menu .btn {
  padding: 11px 25px;
}

.hamburger_menu .btn:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

.offcanvas-start {
  width: max-content;
}

.offcanvas {
  background: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.hamburger_menu div.offcanvas-header {
  padding: 21px 15px 0px 26px;
}

.hamburger_menu h5.offcanvas-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #414141;
}

.hamburger_menu .button_close {
  width: 18px;
  height: 18px;
  background: url(../img/png/Vector.png) no-repeat center, #f0f0f0;
  border: none;
  border-radius: 100px;
}

.offcanvas-body {
  padding: 0px;
}

.offcanvas-body h5 {
  margin: 19px 0px 19px 26px;
}

.offcanvas-body .main li,
.offcanvas-body .navigation li {
  display: block;
  padding: 10px 62px 20px 0px;
}

.offcanvas-body .main a,
.offcanvas-body .navigation a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #414141;
}

.offcanvas-body li:hover {
  background: linear-gradient(90deg,
      #f1f1f1 0%,
      rgba(238, 246, 250, 0.19) 82.82%,
      rgba(237, 248, 252, 0) 107.25%);
}

.offcanvas-body .main li:nth-child(1) a::before {
  content: url(../img/svg/main_home.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .main li:nth-child(2) a::before {
  content: url(../img/svg/main_info.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .main li:nth-child(3) a::before {
  content: url(../img/svg/main_cont.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(1) a::before {
  content: url(../img/svg/kitchen-icon.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(2) a::before {
  content: url(../img/svg/bedroom-icon.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(3) a::before {
  content: url(../img/svg/livingroom-icon.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(4) a::before {
  content: url(../img/svg/closet-icon.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(5) a::before {
  content: url(../img/svg/office-icon.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(6) a::before {
  content: url(../img/svg/childrensroom-icon.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(7) a {
  color: #e92d2d;
}

.offcanvas-body .navigation li:nth-child(7) a::before {
  content: url(../img/svg/action.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(8) a::before {
  content: url(../img/svg/new.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(9) a::before {
  content: url(../img/svg/mattress.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(10) a::before {
  content: url(../img/svg/armchair.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.offcanvas-body .navigation li:nth-child(11) a::before {
  content: url(../img/svg/cupboard.svg);
  vertical-align: middle;
  padding: 0px 20px 0px 28px;
}

.logo {
  float: left;
  padding-top: 12.5px;
}

.search {
  position: relative;
  margin: 20px 150px 0px 150px;
}

.search input {
  width: 100%;
  height: 50px;
}

.search input[placeholder] {
  padding: 17px 0px 17px 49px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.search button {
  float: left;
  padding: 14px 20px 12px 15px;
  background: none;
  border: none;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: default;
}

.search_item {
  float: right;
  padding-top: 12.5px;
}

.search_item svg:last-of-type {
  padding: 0px 0px 0px 0px;
}

.search_item a:nth-child(1) {
  margin-right: 30px;
  display: none;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.search_item a {
  text-decoration: none;
  margin: 0px 0px 0px 19px;
}




.search_item a svg {
  margin-right: 10px;
}

.search_item a svg path {
  stroke: #000000;
}

.search_item span {
  display: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.search_item span svg {
  margin-right: 10px;
}

.search_item span svg path {
  fill: #000000;
}

.menu_nav {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.menu_nav>li {
  flex: 0 1 auto;
  position: relative;
  height: 70px;
  padding: 0px 10px 0px 20px;
}

.menu_nav>li span {
  padding: 25px 0px 20px 0px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.menu_nav>li svg:not(:last-child) {
  position: relative;
  top: 0px;
  left: 0px;
}

.menu_nav>li:not(:nth-child(7), :nth-child(8)):hover {
  background-color: #245462;
}

.menu_nav>li:hover .menu_nav_level2 {
  background-color: #ffffff;
  display: block;
  z-index: 3;
}

.menu_nav li .menu_nav_level2 {
  list-style: none;
  display: none;
  position: absolute;
  top: 68px;
  left: 0px;
  width: 190px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.menu_nav li:last-child .menu_nav_level2 {
  position: absolute;
  top: 68px;
  left: -100px;
}

.menu_nav li .menu_nav_level2 a {
  display: block;
  text-decoration: none;
  padding: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.menu_nav_level2>li:hover a {
  color: #245462;
}

.menu_nav li:hover span {
  color: #ffffff;
}

.menu_nav li:hover svg path {
  fill: #ffffff;
}

.menu_nav>li:nth-child(7) span {
  color: #d74444;
}

.menu_nav>li:last-child svg {
  margin: 28px 0px 28px 0px;
}

.carousel-inner {
  margin-top: 30px;
}

.carousel-indicators a {
  padding: 14px 25px 14px 25px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 140.8%;
  letter-spacing: 0.04em;
  color: #414141;
}

.carousel-item:nth-of-type(1) {
  background: url(../img/jpg/banner_1.jpg) no-repeat;
  width: 1140px;
  height: 450px;
}

.carousel-item:nth-of-type(2) {
  background: url(../img/jpg/banner_2.jpg) no-repeat;
  width: 1140px;
  height: 450px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 6.5%;
}

.carousel-control-prev-icon {
  background: rgba(157, 157, 157, 0.28);
  width: 33px;
  height: 33px;
}

.carousel-control-prev-icon svg,
.carousel-control-next-icon svg {
  margin: 11px 13px 11px 13px;
}

.carousel-control-next-icon {
  background: #ffffff;
  width: 33px;
  height: 33px;
}

.carousel-control-next-icon path {
  transform: rotate(180deg);
  transform-origin: center;
  stroke: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  text-align: start;
  z-index: 1;
  position: absolute;
  left: 120px;
  top: 70px;
}

.carousel-item:nth-of-type(1) h1 {
  text-align: start;
  z-index: 1;
  position: absolute;
  left: 120px;
  top: 100px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 105.3%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3c3c3c;
}

.carousel-item:nth-of-type(1) p {
  text-align: start;
  z-index: 1;
  position: absolute;
  left: 120px;
  top: 221px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140.8%;
  letter-spacing: 0.02em;
  color: #343434;
}

.carousel-item:nth-of-type(1) a {
  text-align: start;
  z-index: 1;
  position: absolute;
  left: 120px;
  top: 264px;
  background-color: #ffffff;
  padding: 14px 25px 14px 25px;
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 140.8%;
  letter-spacing: 0.04em;
  color: #414141;
}

.carousel-item:nth-of-type(1) h2 {
  display: none;
  text-align: start;
  z-index: 1;
  position: absolute;
  left: 58px;
  top: 85px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.carousel-item:nth-of-type(1) h3 {
  display: none;
  text-align: start;
  z-index: 1;
  position: absolute;
  left: 15px;
  top: 73.61px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 103.3%;
  color: #414141;
}

div>h2 {
  margin: 30px 0px 35px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.catalog {
  grid-area: catalog;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog li {
  width: 258px;
  background: #ffffff;
  position: relative;
}

.catalog li a {
  text-decoration: none;
}

.catalog img {
  margin: 74px 32px 0px 31px;
  width: 200px;
  height: 150px;
}

.catalog button.like {
  border: none;
  background-color: #ffffff;
  position: absolute;
  right: 15.5px;
  top: 25px;
  width: auto;
  height: auto;
  margin: 0px;
}

.catalog .action {
  display: none;
  position: absolute;
  left: 39.5px;
  top: 25px;
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.catalog .action svg {
  position: absolute;
  left: -23.5px;
  top: -3px;
}

.catalog h1 {
  margin: 54px 0px 6px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.catalog h2 {
  margin: 0px 0px 9px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #414141;
}

.catalog h3 {
  margin: 0px 0px 15px 20px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.catalog h3 span {
  display: none;
  margin: 0px 0px 0px 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #cccccc;
}

.catalog:nth-child(1) li:nth-child(3) h3 span,
.catalog:nth-child(1) li:nth-child(3) .action {
  display: inline-block;
}

.name_size-btn {
  display: none;
  width: 258px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
}

.name_size-btn h4 {
  margin: 0px 0px 8px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.name_size-btn div {
  margin: -16px 0px -17px 0px;
}

.name_size-btn span {
  display: inline-block;
  margin: 0px 0px 0px 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.name_size-btn span.name_size {
  display: inline-block;
  margin: 0px 17px 0px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #c4c4c4;
}

.name_size-btn span.size {
  display: inline-block;
  margin: 0px 33px 17px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #414141;
}

.name_size-btn button {
  width: 223px;
  height: 40px;
  margin: 0px 17.5px 20px 17.5px;
  border: none;
  background-color: #245462;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.catalog li:hover .name_size-btn {
  display: unset;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
  z-index: 2;
  transition: 1s;
}

.catalog li:hover {
  z-index: 3;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

.head__logo {
  float: left;
  padding: 56px 35px 45px 0px;
}

.head__search {
  position: relative;
  margin: 0px 457px 0px 403px;
  padding: 46px 0px 45px 0px;
}

.head__search input {
  width: 100%;
  height: 50px;
}

.head__search input[placeholder] {
  padding: 17px 0px 17px 49px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.head__search button {
  float: left;
  padding: 59px 20px 53px 15px;
  background: none;
  border: none;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: default;
}

.head__menu-item {
  float: right;
  padding: 59px 0px 51px 0px;
}

.head__menu-item svg {
  margin: 0px 0px 0px 20px;
}

.head__menu-item svg:last-of-type {
  padding: 0px 0px 0px 0px;
}

.head__menu-item a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
  position: relative;
}

.head__menu-item a.head__menu-item_focus path{
  fill: #000000;
}

.head__menu-item a svg {
  margin-right: 10px;
}


.head__menu-item a:nth-of-type(3)::after{
  content: "";
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D74444;
  position: absolute;
  top: 0;
  right: 10px;
}
.head__menu-item a.head__menu-item_active:nth-of-type(3)::after{
  display: inline-block;
}

.head__menu-item a svg path {
  stroke: #000000;
}

.head__menu-item span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.head__menu-item span svg {
  margin-right: 10px;
}

.head__menu-item span svg path {
  fill: #000000;
}

/* хлебные крошки*/

.breadcrumb {
  margin: 30px 0px 20px 0px;
}

.breadcrumb-item a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.breadcrumb-item.active {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #969696;
}

/* Карточка товаров*/

.wrap {
  display: flex;
}

.catalog_item__slider {
  width: 653px;
  height: 444px;
  margin-right: 30px;
  flex: 1 1 auto;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: contain;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 {
  height: 249px;
  width: 599px;
}

.mySwiper {
  box-sizing: border-box;
  padding: 10px 27px;
}

.mySwiper .swiper-slide {
  width: 120px;
  height: 90px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 12px;
  color: #000000;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: -30px;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -30px;
}

.prodact_description {
  position: relative;
  flex: 1 1 456px;
}

.stars {
  display: inline-block;
  margin-bottom: 16px;
}

.stars li {
  float: right;
}

.stars li:nth-child(1):hover path {
  fill: #000000;
}

.stars li:nth-child(1):hover~li path {
  fill: #000000;
}

.stars li:nth-child(2):hover path {
  fill: #000000;
}

.stars li:nth-child(2):hover~li path {
  fill: #000000;
}

.stars li:nth-child(3):hover path {
  fill: #000000;
}

.stars li:nth-child(3):hover~li path {
  fill: #000000;
}

.stars li:nth-child(4):hover path {
  fill: #000000;
}

.stars li:nth-child(4):hover~li path {
  fill: #000000;
}

.stars li:nth-child(5):hover path {
  fill: #000000;
}

.prodact_description h1 {
  margin: 0px 0px 16px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #414141;
}

.prodact_description h2 {
  margin: 0px 0px 19px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
}

.prodact_description h3 {
  display: inline-block;
  margin: 0px 31px 21px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #414141;
}

.buy {
  padding: 13px 50px;
  margin: 0px 21px 0px 0px;
  background-color: #245462;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.desired {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.desired svg {
  width: 19px;
  height: 17px;
  margin-right: 10px;
}

.prodact_description h4 {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.description__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #686868;
}

.prodact_description form {
  display: grid;
  grid-template-columns: 74px 116px 200px;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 0px;
  align-items: end;
  margin-bottom: 20px;
}

.prodact_description label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

input.color {
  grid-area: 2/1/2/1;
  width: 30px;
  height: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border: none;
}

.amount {
  grid-area: 2/2/2/2;
  width: 46px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border: none;
}

select.size {
  grid-area: 2/3/2/3;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border: none;
}


.description-product__head {
  margin-bottom: 27px;
}

.description-product__link {
  margin-right: 50px;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
}

.description-product__link:hover {
  content: "";
  color: #414141;
  border-bottom: 3px solid #245462;
}

.description-product__columns {
  display: flex;
  justify-content: space-around;
}

.column-description__element {
  display: grid;
  grid-template-columns: minmax(50px, 250px) max-content;
  margin-bottom: 23px;

}

.column-description {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.element-description__name {
  display: flex;
  align-items: baseline;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #686868;

}

.element-description__name::after {
  content: "";
  flex: 1 1 auto;
  border-bottom: 1px dashed #686868;
  margin: 0 10px;
}

.element-description__value {
  text-align: start;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
}

/* О нас блок*/

.wraper__info {
  margin: 18px 0px 70px 0px;
  background: url(../img/jpg/fon_info.jpg) no-repeat top right,
    url(../img/jpg/линия.jpg) no-repeat left 110px;
  background-size: contain 500px;
}

.info__wrap {
  display: flex;
  flex-direction: row-reverse;
  gap: 48px;
}

.info__img {
  display: inline-block;
  margin: 89px -50px 72px 0px;
}

.info {
  padding-top: 100px;
  padding-left: 40px;
}

.info__title-about {
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  color: #245462;
}

.info__title-main {
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #414141;
}

.info__title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
}

.dignity {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 80px 64px;
  align-items: end;
  margin-bottom: 95px;
}

.dignity__title {
  grid-area: 1/1/1/3;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.015em;
  color: #414141;
}

.dignity__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 10px 30px;
}

.dignity__item svg {
  grid-area: 1/1/3/1;
}

.dignity__item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #414141;
}

.dignity__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
}

.wraper.advantages {
  background-color: #d7e8ed;
}

.contain.advantages {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 65px;
  padding: 80px 0px;
}

.advantages__title {
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: #414141;
}

.advantages__title::after {
  content: url(../img/svg/info/Rectangle\ 57.svg);
  display: block;
  margin: 15px 0px;
}

.advantages__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #686868;
}

.condition {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 30px 40px;
  margin: 70px 0px 125px 0px;
}

.condition__items {
  background-color: #f4f4f4;
  padding: 25px;
  position: relative;
}

.condition__items-icon {
  position: absolute;
  left: -23px;
  top: -23px;
}

.condition__items-title {
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #414141;
}

.condition__items-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
}

.economy__title {
  margin-bottom: 75px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140.19%;
  color: #414141;
}

.wrap__economy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 174px;
}

.economy__items {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 20px;
}

.economy__item-text {
  width: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #414141;
}

.economy__title-down {
  margin-bottom: 200px;
}

/* Контакты*/

.connection__inner {
  display: flex;
  gap: 100px;
  margin-bottom: 50px;
}

.connection__title {
  margin-bottom: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.connection__form {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 457px;
  justify-content: end;
}

.connection__form-name-textarea {
  flex: 0 1 457px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.connection__form-textarea {
  height: 142px;
  padding: 5px 5px;
  resize: none;
  border: none;
  background: #fcfcfc;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
}

.connection__form-name {
  flex: 1 1 207px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.connection__form-mail {
  flex: 1 1 240px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.connection__form-item {
  padding: 0px 5px;
  height: 38px;
  border: none;
  background: #fcfcfc;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
}



.form__btn {
  width: 106px;
  height: 40px;
  border: none;
  background-color: #245462;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}

.form__btn-add-st {
  display: none;
}

.form__btn-add {
  margin-right: 20px;
  width: 149px;
  height: 40px;
  padding: 12px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #414141;
  cursor: pointer;
}

.social {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, max-contetn);
  grid-template-rows: repeat(3, min-content);
  row-gap: 25px;
  column-gap: 37px;
}

.social__adress {
  grid-area: 3/1/3/3;
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

.social__icon {
  margin-right: 10px;
}

.social__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  text-align: right;
  color: #414141;
}

.adress__title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.adress__map iframe {
  margin-bottom: 70px;
  width: 100%;
  height: 400px;
}

.bonus__title {
  margin-top: 20px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.bonus__rule {
  float: right;
  margin-left: 20px;
  text-decoration: none;
  text-align: right;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

/* Личный кабитнет*/

.bonus__inner {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  gap: 0px;
  justify-content: space-evenly;
  background-color: #f8f8f8;
}

.bonus__items {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px 0px;
}

.bonus__text {
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #414141;
}

.personal__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 98px;
  margin-bottom: 170px;
}

.personal__title {
  grid-area: 1/1/1/2;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.personal__form {
  grid-area: 2/1/2/2;
  display: grid;
  grid-template-columns: 117px 80px 240px;
  grid-template-rows: repeat(6, 60px);
  gap: 10px;
}

.personal__item {
  padding: 12px;
  height: 38px;
  border: none;
  background: #fcfcfc;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
}

.personal__form-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.personal__form-name {
  grid-area: 1/1/1/3;
}

.personal__form-mail {
  grid-area: 1/3/1/4;
}

.personal__form-surname {
  grid-area: 2/1/3/3;
}

.personal__form-town {
  grid-area: 3/1/4/3;
}

.personal__form-street {
  grid-area: 4/1/5/4;
}

.personal__form-house {
  grid-area: 5/1/6/2;
}

.personal__form-apartment {
  grid-area: 5/2/6/3;
}

.personal__form-btn {
  grid-area: 6/3/7/4;
  width: 101px;
  height: 40px;
  align-self: end;
  justify-self: end;
  background-color: #245462;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.orders__title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.orders__inner {
  display: grid;
  grid-template-rows: 40px repeat(4, 90px);
}

.orders__header {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 66px 88px 88px;
}

.orders__header-name {
  padding: 11px 0px 11px 15px;
  margin: 0;
  align-self: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #f3f3f3;
}

.orders__header-price,
.orders__header-data,
.orders__header-status {
  padding: 11px 0px;
  margin: 0;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #f3f3f3;
}

.orders__item {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 66px 88px 88px;
}

.orders__item-name {
  padding: 25px 0px;
  align-self: center;
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
  border: 1px solid #f3f3f3;
}

.orders__item-price,
.orders__item-data,
.orders__item-status {
  padding: 27px 10px;
  text-align: center;
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #f3f3f3;
}

.orders__img {
  width: 53px;
  height: 40px;
  margin: 0px 15px;
}

.orders__link {
  margin-top: 20px;
  text-decoration: none;
  text-align: right;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
}

/* Корзина товаров*/

.bascet {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.basket__title {
  margin: 20px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.basket__subtitle {
  margin: 20px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #414141;
}

.basket__items {
  grid-column: 1/3;
  display: grid;
  row-gap: 20px;
}

.basket__item {
  display: grid;
  width: 100%;
  grid-template-columns: min-content repeat(2, max-content) 1fr 1fr max-content;
  grid-auto-rows: auto;
  grid-template-areas:
    "img name name action action price btn"
    "img color amount size size size  btn";
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.basket__item-img {
  grid-area: img;
  width: 100px;
  height: 75px;
  margin: 22px 40px 22px 20px;
}

.basket__item-description {
  margin-right: 20px;
  flex: 1 1 0;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  column-gap: 15px;
  padding: 20px 0px 42px 0px;
}

.basket__item-name {
  grid-area: name;
  margin: 0px 0px 0px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.basket__item-action.action-active {
  visibility: visible;
}

.basket__item-action {
  grid-area: action;
  padding-right: 15px;
  justify-self: end;
  visibility: hidden;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #cccccc;
}

.item-action__value {
  color: #000000;
  padding-right: 18px;
}

.item-action__old-price {
  text-decoration-line: line-through;
}

.item-action__icon {
  margin-right: 7px;
}

.basket__item-price {
  grid-area: price;
  justify-self: end;
  margin: 0;
  padding-right: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.item-description {
  display: flex;
  column-gap: 15px;
}

.item__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
  margin-right: 10px;
}

.item__value {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #9e9e9e;
}

.item__color {
  grid-area: color;
  align-self: start;
  padding-right: 20px;
}

.item__amount {
  grid-area: amount;
  align-self: start;
  padding-right: 20px;
}

.item__size {
  grid-area: size;
  align-self: start;
}

.item__color-visual {
  margin-left: 10px;
  display: inline-block;
  line-height: 1;
}

.basket__item-btn {
  grid-area: btn;
  justify-self: end;
  align-self: stretch;
  width: 57px;
  background: #f9f9f9;
  border: none;
}

.design-wrap {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
}


.coast {
  margin: 0;
  padding-right: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.coast::before {
  content: "Итоговая стоимость:";
  margin: 0;
  padding-right: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.design-btn {
  padding: 12px 50px;
  border: none;
  background: #245462;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

/*Фильтр основной*/
main.inner {
  display: grid;
  grid-template-areas:
    "filter sort"
    "filter catalog"
    "filter catalog"
    "filter catalog";


}

.sort__inner {
  grid-area: sort;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sort__name {
  margin-right: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.sort__btn {
  appearance: none;
  border: none;
  background-color: transparent;
  position: relative;
}

.sort__menu {
  width: max-content;
  padding: 20px 0px;
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 5;
  background-color: #fff;
  transform: scale(0);
  transform-origin: right top;
}

.sort__menu_active {
  transform: scale(1);
  transition: 0.3s;
}

.sort__menu-item {
  text-align: right;
}

.sort__menu-link {
  padding: 0px 20px 20px 20px;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.filter_active {
  display: block;
}

.filter__head {
  display: none;
  margin: 23px 0px 64px 0px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
  position: relative;
}



.filter__btn-close {
  position: absolute;
  right: 0;
  background-color: #fff;
  border: none;
}


.filter {
  grid-area: filter;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  width: fit-content;
}


.filter__btn {
  display: none;
  max-width: 138px;
  padding: 13px 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  background: #F9F9F9;
  border: none;
}

.filter__select {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 28px;
}

.filter__title {
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

/*  Цветовые чекбоксы*/

.color-check__items {
  display: flex;
  margin-bottom: 20px;
}

.color-check__item {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: relative;
  background-color: #E94848;
}

.color-check__item:nth-of-type(3) {
  background-color: #E4E4E4;
}

.color-check__item:nth-of-type(4) {
  background-color: #3E3E3E;
}

.color-check__item:nth-of-type(5) {
  background-color: #675A5A;
}

.color-check__item:nth-of-type(6) {
  background-color: #864F4F;
}

.color-check__stand:checked+.color-check__item {
  background-color: #43BF57;
}

.color-check__stand:checked+.color-check__item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 7.6px;
  height: 5px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg);
}

.color-check__stand {
  display: none;
}

.select__wrap {
  position: relative;
  width: min-content;
}

.section__item {
  padding: 8px 152px 8px 15px;
  width: min-content;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  background: #f8f8f8;
  border-radius: 3px;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.section__item::-ms-expand {
  display: none;
}

.section__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.brend-check__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.brend-check__item {
  display: none;
}

.brend-check__name {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #414141;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.brend-check__name::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #FFFFFF;
  border: 1px solid #245462;
  border-radius: 3px;
}

.brend-check__item:checked+.brend-check__name::before {
  content: "";
  background: #245462;
}

.brend-check__item:checked+.brend-check__name::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 7.6px;
  height: 5px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg);
}

.filter__price-range {
  width: 223px;
}

.price-range {
  left: 5px;
  margin-bottom: 10px;
}

.ui-widget-header {
  background-color: #245462;
}

.ui-slider .ui-slider-handle {
  width: 14px;
  height: 14px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -1px;
}

.ui-slider-horizonta {
  height: 10px;
}

.ui-widget-content {
  border: none;
  background: #ececec;
  border-radius: 3px;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  background: #ffffff;
  border: 3px solid #245462;
  border-radius: 50%;
}

.price-range__values {
  display: flex;
  align-items: center;
}

.price-range__value {
  width: 90px;
  height: 30px;
  text-align: center;
  background: #f8f8f8;
  border-radius: 3px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #414141;
}

.price-range__value-icon {
  margin: 0px 12px;
}

.filter__link {
  margin-bottom: 30px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
}

/*Футер*/

.footer {
  margin-top: 10px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
}

.footer_nav {
  float: left;
}

.footer_nav h1 {
  margin: 54px 0px 10px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 126.69%;
  text-align: left;
  color: #000000;
}

.footer_nav ul {
  float: left;
  list-style: none;
  margin: 0px 50px 0px 0px;
}

.footer_nav a {
  margin-top: 7px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

.footer_logo {
  float: right;
  text-align: right;
}

.footer_logo svg {
  margin: 49px 0px 20px 0px;
}

.footer_logo p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

.footer_contacts ul:first-child {
  float: left;
}

.footer_contacts ul:first-child li {
  float: left;
  margin: 30px 34px 32px 0px;
}

.footer_contacts ul:first-child li:first-child a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  color: #d74444;
}

.footer_contacts ul:first-child li:last-child a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

.footer_contacts ul:last-child {
  float: right;
}

.footer_contacts ul:last-child li {
  float: right;
  margin: 30px 0px 32px 34px;
}

.footer_contacts ul:last-child li:nth-child(1) a,
.footer_contacts ul:last-child li:nth-child(3) a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

.footer_contacts ul:last-child li:nth-child(2) a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
}

.footer_contacts ul:last-child li:nth-child(3) a:before {
  content: url(../img/svg/footer_phone.svg);
  vertical-align: middle;
  margin-right: 10px;
}

.footer_contacts ul:last-child li:nth-child(2) a:before {
  content: url(../img/svg/footer_inst.svg);
  vertical-align: middle;
  margin-right: 10px;
}

.footer_contacts ul:last-child li:nth-child(1) a:before {
  content: url(../img/svg/footer_mail.svg);
  vertical-align: middle;
  margin-right: 10px;
}